@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&family=Press+Start+2P&display=swap');

::selection {
    background: #2948FF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html,
body,
#lock {
    overflow: hidden;
}

body {
    background: linear-gradient(0deg, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0)), url("/img/pixel-30.png") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

#blue {
    display: block;
    background-image: linear-gradient(120deg, #2948FF, #396AFC);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s;
}


h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 10px;
    transition: all 0.5s;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    transition: all 0.5s;
}

ul {
    list-style: none;
    margin-bottom: 50px;
    margin-top: -10px;
    transition: all 0.5s;
}

a:link,
a:visited {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 2px;
    color: white;
    border: 1px solid white;
    padding: 10px 150px 8px 150px;
    margin: 20px 25px;
    white-space: nowrap;
    border-radius: 15px;
    display: block;
    text-align: center;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

a:hover {
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

#info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

#icon {
    border-radius: 100%;
    width: 80%;
    transition: all 0.5s;
}

h2 {
    font-size: 1.5em;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    color: white;
    text-align: right;
    transition: all 0.5s;
}

@media (min-width: 1px) and (max-width: 1640px) {

    #blue {
        width: 60%;
        transition: all 0.5s;
    }

    a:link,
    a:visited {
        padding: 10px 125px 8px 125px;
        margin: 20px 15px;
        transition: all 0.5s;
    }
}

@media (min-width: 1px) and (max-width: 1225px) {

    #blue {
        width: 65%;
        transition: all 0.5s;
    }

    a:link,
    a:visited {
        padding: 10px 75px 8px 75px;
        margin: 10px;
        transition: all 0.5s;
    }
}

@media (min-width: 1px) and (max-width: 960px) {
    #blue {
        width: 90%;
        animation: fadeIn ease 2s;
        animation-fill-mode: forwards;
        transition: all 0.5s;
    }

    #content {
        flex-direction: column-reverse;
        width: 90%;
        padding: 0px;
        transition: all 0.5s;
    }

    h1 {
        font-size: 2em;
        padding-top: 5px;
        padding-bottom: 20px;
        transition: all 0.5s;
    }

    #icon {
        width: 30%;
    }

    ul {
        margin-bottom: 30px;
        transition: all 0.5s;
    }

    a:link,
    a:visited {
        font-size: 1.1em;
        padding: 5px 75px 4px 75px;
        border-radius: 10px;
        transform: translateX(-7.5%);
        transition: all 0.5s;
    }

    h2 {
        font-size: 1.25em;
        text-align: center;
        margin-bottom: 25px;
        transition: all 0.5s;
    }

}

@media screen and (orientation:landscape) and (min-width: 1px) and (max-width: 960px) {

    @keyframes fadeInMob {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    html,
    body,
    #lock {
        overflow: visible!important;
    }

    #blue {
        top: 0%;
        border-radius: 0px;
        animation: fadeInMob ease 2s;
        animation-fill-mode: forwards;
        transform: translateX(-50%) translateY(0%);
        transition: all 0.5s;
    }
}
